// Place all the styles related to the todo_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.todo_items {
	width: 100%;


th {
	text-align: left;
}

}

a {
	text-decoration: none;
	text-align: center;
}

.function-list-button {
	background-color: #00CCFF;
	border-radius: 25px;
	border: 1px solid #00CCFF;
	
}

.function-list-button:hover {
	background-color: #3366FF;
}

.function-show-btn {
	background-color: #00CCFF;
	border-radius: 25px;
	border: 1px solid #00CCFF;
}

.function-show-btn:hover {
	background-color: #3366FF;
}

.function-edit-btn {
	background-color: #00CCFF;
	border-radius: 25px;
	border: 1px solid #00CCFF;
}

.function-edit-btn:hover {
	background-color: #3366FF;
}

.function-delete-btn {
	background-color: #00CCFF;
	border-radius: 25px;
	border: 1px solid #00CCFF;
}

.function-delete-btn:hover {
	background-color: #3366FF;
}